.container{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 100px auto;
    
}

.content{
    display: flex;
    flex-direction: column;
    gap:95px;
}

.title{
    font-size: 42px;
    font-weight: 600;
}

#bold-text{
    color:#00C397;
}
.company-logo{
    display: flex;
    gap:100px;
}

@media screen and (max-width : 1350px){

    .content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .company-logo{
        display: flex;
        flex-direction: column;
        gap:40px;
        align-items: center;
        justify-content: center;
    }

    .title{
        font-size: 21px;
        font-weight: 600;
    }
}