.banner-container{
    display: flex;
    align-items: center;
    width:100%;
    height:190px;
    background: linear-gradient(to right, rgba(56, 239, 125, 1), rgba(17, 153, 142, 1));
    color: transparent; 
    margin-top: 80px;
}

.banner-content{
    
    display: flex;
    color:white;
    gap:30px;
    margin-left: 20px;
}


.banner-text{
    font-size: 84px;
    font-weight: 600;
}

.banner-img{
    width:142px;
    height: 71.04px;
}